<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/match.css' />
  </head>
  <body>  
      
      <nav>
        <ul class="nav-bar"> <!-- Navigation Bar-->
              <li><a href="/profile/profile" id="#profile"><img src="/images/bgdogy.jpg" alt="profile logo" class="logo"></a></li>
              <li><a href="/profile/swipe" id="#swipe"> <img src="/images/bwlogo.png" alt="match logo" class="logo"></a></li>
              <li><a href="/profile/match" id= "#match" ><img src="/images/chat.png" alt="match logo" class="logo"></a></li>
        </ul>
    </nav>

    <h1>MATCHES</h1>

{{#each matches}}
  
  {{this}}
  
{{/each}}


 </body>
</html>



{{!-- {{#each match}}
<p>

  <a href="/match/edit?_id={{this._id}}" class="edit-button">
    EDIT
  </a>

  <a href="/match/details/{{this._id}}"> {{this.title}} </a>

</p>
{{/each}} --}}