<nav>
        <ul class="nav-bar"> <!-- Navigation Bar-->
              <li><a href="/profile/profile" id="#profile">Profile</a></li>
              <li><a href="/profile/swipe" id="#swipe">Swipe</a></li>
              <li><a href="/profile/match" id= "#match">Match</a></li>
        </ul>
    </nav>

    <h1>PROFILE BOI</h1>

<h1>
    {{dogName}}

    <br>

    {{age}}
<br>
    {{breed}}
<br>
    {{activity}}

<br>
      {{image}}

</h1>
    <button><a href="/profile/profile-settings">SETTINGS</a></button>