<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/profile.css' />
  </head>
  <body>
      <nav>
            <ul class="nav-bar"> <!-- Navigation Bar-->
               <li><a href="/profile/profile" id="#profile"><img src="/images/dogy.png" alt="profile logo" class="logo"></a></li>
              <li><a href="/profile/swipe" id="#swipe"> <img src="/images/bwlogo.png" alt="match logo" class="logo"></a></li>
              <li><a href="/profile/match" id= "#match" ><img src="/images/bwchat.png" alt="match logo" class="logo"></a></li>
            </ul>
       </nav>

    <h1>PROFILE</h1>

<form action="/profile/edit" method="GET">
  <button>EDIT PROFILE</button>
</form>

    <img src="{{image}}" alt="profile image">

  <h1>{{dogName}}</h1>

    <h1>{{age}}</h1>
<br>
    <h2>{{breed}}</h2>
<br>
   <h2>{{activity}}</h2> 

{{!-- esto deberia estar fuera? --}}

   <h2>{{searchPreferences}}</h2>   

<br>
    
<button type=""><a href="/auth/logout">LOG OUT</a></button>

<form action="/profile/delete/{{_id}}" method="POST">
  <button type="submit">DELETE USER</button>
</form>

  </body>
</html>
