<div class="container">

  <div class="row" id="menu">
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/profile"><i class="fa fa-paw"></i></a>
    </div>
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/swipe"><i class="fa fa-heart"></i></a>
    </div>
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/match"><i class="fa fa-comments"></i></a>
    </div>
  </div>



  <div class="row">
    <div class="col col-xs-3">
      <h1 class="dogName">{{dogName}}</h1>

      <img src="{{image}}" alt="profile image" class="img-fluid">

    <div id="profile-info">
      <h5>Age: {{age}} years old</h5>
      <h5>Breed: {{breed}}</h5>
      <h5>Sociability: {{activity}}</h5>
    </div>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-4">
      <form action="/profile/edit" method="GET">
        <button>EDIT PROFILE</button>
      </form>
    </div>
    <div class="col col-sm-4"></div>
      <a href="/auth/logout"><button type="">LOG OUT</button></a>
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-12">
      <form action="/profile/delete/{{_id}}" method="POST">
        <button type="submit">DELETE USER</button>
      </form>
   </div>
  </div>

</div>