<div class="container">

  <div class="row" id="menu">
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/profile"><i class="fa fa-paw"></i></a>
    </div>
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/swipe"><i class="fa fa-search-plus"></i></a>
    </div>
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/match"><i class="fa fa-heart"></i></a>
    </div>
  </div>


  <div class="row">
    <div class="col col-xs-3">
      <h1 class="dogName">{{dogName}}</h1>

      <img src="{{image}}" alt="profile image" class="img-fluid">

    <div id="profile-info">
      <h5>Age: {{age}} years old</h5>
      <h5>Breed: {{breed}}</h5>
      <h5>Sociability: {{activity}}</h5>
    </div>
      <br>
    </div>
  </div>

    <div class="twobuttons">
      <form action="/profile/edit" method="GET">
        <button id="profile-buttons">EDIT PROFILE</button>
      </form>
      <a href="/auth/logout"><button id="profile-buttons">LOG OUT</button></a>
    </div>


  <div>
      <form action="/profile/delete/{{_id}}" method="POST">
        <button type="submit" id="delete-button">DELETE USER</button>
      </form>
  </div>


</div>