<nav>
        <ul class="nav-bar"> <!-- Navigation Bar-->
              <li><a href="/profile/profile" id="#profile">Profile</a></li>
              <li><a href="/profile/swipe" id="#swipe">Swipe</a></li>
              <li><a href="/profile/match" id= "#match">Match</a></li>
        </ul>
    </nav>

    <h1>PROFILE</h1>


      <img src="{{image}}" alt="">

    <h1>{{dogName}}, {{age}}</h1>
<br>
    <h2>{{breed}}</h2>
<br>
   <h2>{{activity}}</h2> 

<br>

    <button><a href="/profile/profile-settings">SETTINGS</a></button>
    <button type=""><a href="/auth/logout">LOG OUT</a></button>

<a href="/profile/edit?_id={{dog._id}}">EDIT</a>

<a href="/profile/delete/{{dog._id}}">DELETED</a>
<a href="/profile/delete?dog={{dog._id}}"> DELETED 2</a>
