<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/profile.css' />
  </head>
  <body>
      <nav>
            <ul class="nav-bar"> <!-- Navigation Bar-->
               <li><a href="/profile/profile" id="#profile"><img src="/images/dogy.png" alt="profile logo" class="logo"></a></li>
              <li><a href="/profile/swipe" id="#swipe"> <img src="/images/bwlogo.png" alt="match logo" class="logo"></a></li>
              <li><a href="/profile/match" id= "#match" ><img src="/images/bwchat.png" alt="match logo" class="logo"></a></li>
            </ul>
       </nav>

    <h1>PROFILE</h1>


    <img src="{{image}}" alt="profile image">

    <h1>{{dogName}}, {{age}}</h1>
<br>
    <h2>{{breed}}</h2>
<br>
   <h2>{{activity}}</h2> 

<br>

    <button><a href="/profile/profile-settings">SETTINGS</a></button>
    <button type=""><a href="/auth/logout">LOG OUT</a></button>

  </body>
</html>