<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/swipe.css' />
  </head>
  <body>
    
        <nav>
        <ul class="nav-bar"> <!-- Navigation Bar-->
              <li><a href="/profile/profile" id="#profile"><img src="/images/bgdogy.jpg" alt="profile logo" class="logo"></a></li>
              <li><a href="/profile/swipe" id="#swipe"> <img src="/images/FirstLogo.png" alt="match logo" class="logo"></a></li>
              <li><a href="/profile/match" id= "#match" ><img src="/images/bwchat.png" alt="match logo" class="logo"></a></li>
        </ul>
    </nav>

    <H1>SWIPE BOI</H1>



    <img src="{{dogsObj.image}}" alt=""> 
   <h2>{{dogsObj.dogName}}</h2>  
     <h2>{{dogsObj.age}}</h2>   
      <h2>{{dogsObj.breed}}</h2>

<div class="yesnobuttons">
 <form action="/profile/match/{{dogsObj._id}}" method="POST">
  <button type="submit" class="rejectbutton" value="reject" name="answer"></button>
</form>

<form action="/profile/match/{{dogsObj._id}}" method="POST">
  <button type="submit" class="likebutton" value="like" name="answer"></button>
</form>
</div>


  </body>
</html>
