<div class="container">

  <div class="row" id="menu">
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/profile"><i class="fa fa-paw"></i></a>
    </div>
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/swipe"><i class="fa fa-search-plus"></i></a>
    </div>
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/match"><i class="fa fa-heart"></i></a>
    </div>
  </div>

<div class="swipe-content">
    <img src="{{dogsObj.image}}" alt=""> 
   <h2>{{dogsObj.dogName}}, {{dogsObj.age}}</h2>   
      <h2>{{dogsObj.breed}}</h2>
</div>


<div class="twobuttons">
 <form action="/profile/match/{{dogsObj._id}}" method="POST">
  <button type="submit" class="rejectbutton" value="reject" name="answer"></button>
</form>

<form action="/profile/match/{{dogsObj._id}}" method="POST">
  <button type="submit" class="likebutton" value="like" name="answer"></button>
</form>
</div>

</div>