<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/swipe.css' />
  </head>
  <body>
    
        <nav>
        <ul class="nav-bar"> <!-- Navigation Bar-->
              <li><a href="/profile/profile" id="#profile"><img src="/images/bgdogy.jpg" alt="profile logo" class="logo"></a></li>
              <li><a href="/profile/swipe" id="#swipe"> <img src="/images/FirstLogo.png" alt="match logo" class="logo"></a></li>
              <li><a href="/profile/match" id= "#match" ><img src="/images/bwchat.png" alt="match logo" class="logo"></a></li>
        </ul>
    </nav>

    <H1>SWIPE BOI</H1>

 {{#each dogsObj}}

    <img src="{{this.image}}" alt=""> 
   <h2>{{this.dogName}}</h2>  
     <h2>{{this.age}}</h2>   
      <h2>{{this.breed}}</h2>
     

 {{/each}}

 <br>


<a href="/profile/swipe"><img src="/images/redmark.png" alt="No logo" class="logo"></a>
<a href="/profile/swipe"><img src="/images/greenmark.png" alt="GreenLike" class="logo"></a>


  </body>
</html>